@media (max-width: 800px) {
  /* Hero Section Stylings */

  .hero-section {
    height: 1200px;
  }

  .hero-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 40px !important;
  }

  /* Hero Section Stylings */

  /* Card Section Stylings */

  .card-section {
    height: 900px;
  }

  .card-section-holder {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

  /* Card Section Stylings */

  /* Portfolio Section Stylings */

  .portfolio-container {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio {
    height: 800px;
  }

  .p-img {
    width: 80%;
  }

  .p-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Portfolio Section Stylings */

  /* Testimonials Section Stylings */

  .test-holder {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  /* Testimonials Section Stylings */

  /* Footer Section Stylings */

  footer {
    height: 600px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: legacy;
    row-gap: 30px;
    padding: 20px;
  }

  /* Footer Section Stylings */
}
